@charset "UTF-8";
* {
    box-sizing: border-box;
 }
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  background-color: GhostWhite;
}

img{
  width: 300px;
  max-width: 100%;
  padding-top: 40px;
}

#kernevaerdier{
  width: 900px;
  max-width: 100%;
}

h2{
  margin-bottom: 1em;
}

section{
  padding: 64px 0;
}

.container{
margin-left: auto;
margin-right: auto;
width: 90%;
max-width: 70.5rem;
}

header{
  min-height: 100vh;
  width: 100%;
  background-image: url("img/baggrund.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.header{
  color: GhostWhite;
  line-height: 1;
}

.header p{
font-size: 28px;
text-align: center;
color: GhostWhite;
}

.header h1{
  font-size: 76px;
  font-weight: 900;
  text-align: center;
}

@keyframes play {
  0%{background-position: 0px;} /*Sætter startsposition for billedet*/
  100%{background-position: -60300px;} /*Sætter slutposition for billedet*/
}

.split, .column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  justify-content: center;
}
#webdesign img {
  width:100%;
}

#mobile-logo {
  margin: 0 10px;
}

#mobile-logo img {
  width: 100%;
}

.fremhævet{
background-color: Gainsboro;
}

a {
   color: white;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 1.5px;
   text-decoration: none;
   padding: 25px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
   white-space: nowrap;
}

#knap{
background-color: GhostWhite;
color: Black;
border: none;
padding: 17px 57px;
display: inline-block;
border-radius: 12px;
width: 52px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}

#logo{
  width:100%;
  max-width: none;
  padding-top: 0;
}

.navigation ul li:hover {
   background: #111;
}

.navigation ul li:nth-child(2) {
  display: none;
}

.navigation ul li:nth-child(2):hover{
  background: #333;
}

.navigation ul li:nth-child(1):hover{
  background: #333;
}

.navigation ul {
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   background: #333;
   box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
}
.navigation li {
   /* flex-basis: 100%; */
   background: #333;
   cursor: pointer;
}

footer{
    height: auto;
    display: flex;
}

footer img{
  height: 100px;
}

#footer {
  /* padding: 30px; */
  background-color: #333;
   flex-direction: column;
   display: flex;
   width: 100vw;
justify-content: center;
}

#footermenu{
    /* margin-top: 10px; */
    text-align: center;
    display: flex;
    justify-content: center;

    /* flex-direction: row; */
}

#logoWrapper {
  display: flex;
  justify-content: center;
}

#cpright{
 font-weight: 400;
 line-height: 1.6;
font-size: 16px;

}

#footermenu ul{
 list-style: none;
 display: flex;
 align-items: stretch;
 /* justify-content: center; */
 /* flex-direction: row; */
 padding-inline-start: 0;
 margin-block: 0; /* fuck safari */
}

#footermenu ul li  {
 display: flex;
 align-items: center;
 cursor: pointer;
 padding: 20px 0;
}

#footermenu a{
  padding: 6px;
  text-decoration: none;

}

#footermenu ul li:hover{
  background-color: #111;
}
#footer p {
  font-size: 0.9em;
  text-align: center;
  color: GhostWhite;
}

#footer #cpright p {
  color: GhostWhite;
}

#footer #logoWrapper img{
padding-top: 0;
}

@media only screen and (min-width: 640px){

  .animation{
    width: 900px; /*sætter bredden for visningen af mit billede*/
    height: 250px; /*sætter højden for visningen af mit billede*/
    background: url('img/animation.png') 0 0 no-repeat; /*Henter billede, og definerer præset, starter i 0,0, og viser kun billedet 1 gang*/
    animation: play 4s steps(67);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

 .split{
   flex-direction: row;
   justify-content: space-between;
 }
 /* .split > * {
   flex-basis: 100%;
 } */

 /* .split > * + * {
   margin-left: 35px;
 } */
 /* #kernevaerdierWrapper > * {
   flex-basis: 100%;
 }

 #kernevaerdierWrapper div:nth-child(2) {
   margin-left: 35px;
 } */

 #Wrapper > * {
   flex-basis: 100%;
 }

 #Wrapper div:nth-child(2) {
   margin-left: 130px;
 }

 .column {
   flex-direction: column;
 }

 header{
   padding: 120px 0;
 }

 section{
   padding: 120px 0;
}

nav{
  position: fixed;
  width: 100vw;
}

.navigation ul {
   display: flex;
   justify-content: flex-end;
   flex-wrap: nowrap;
   align-items: stretch;
   padding: 0 30px;
}

.navigation li {
   flex: 1;
   display: flex;
   align-items: center;
}

.navigation ul li:nth-child(2){
  flex-grow: 6;
  display: flex;
}

#logo{
 width:300px;
}

a{
 padding: 10px 5px;
}

#footer {
   flex-direction:row;
   align-items: stretch;
   justify-content: space-between;
}

#footer p {
  text-align: left;
  order: -1;
  margin: 0 30px;
}

#footermenu{
  order: 2;
  margin: 0 30px;
}

#footer #logoWrapper{
  display: flex;
  justify-content: center;
  order: 1;
}

#cpright{
 display: flex;
 align-items: center;
}

#mobile-logo img {
  display: none;
}

#Wrapper{
  height: 67vh;
}

}
